#loginLog {
    background-color: #cfcd43; /* light gray background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.loginH {
    color: #333; /* dark gray color */
    margin-bottom: 20px; /* space below the title */
}

.loginDiv form {
    background-color: #fff; /* white background */
    padding: 20px;
    border-radius: 5px; /* rounded corners */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* subtle shadow */
    width: 300px; /* adjust as needed */
    border: 1px solid #ccc; /* light gray border */
}

#emailLog, #passwordLog {
    margin-bottom: 10px;
}

.emailLoglb, .passLoglb {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* make labels bold */
}

.emailLog, .passwordLog {
    width: 100%;
    padding: 10px;
    border-radius: 5px; /* rounded corners */
    border: 1px solid #ccc; /* light gray border */
    box-sizing: border-box; /* include padding and border in element's total width and height */
}

.subLogBtn {
    width: 100%;
    padding: 10px;
    background-color: #333; /* dark gray background */
    color: #fff; /* white color */
    border: none;
    border-radius: 5px; /* rounded corners */
    cursor: pointer;
    font-weight: bold; /* make button text bold */
}

.subLogBtn:hover {
    background-color: #444; /* slightly darker gray background on hover */
}

#signupButton {
    margin-top: 10px;
    text-align: center;
}

.signLinkLog {
    display: inline-block;
    padding: 10px 70px;
    background-color: #333; /* dark gray background */
    color: #fff; /* white color */
    border-radius: 5px; /* rounded corners */
    text-decoration: none;
    transition: background-color 0.3s ease; /* transition for hover effect */
}

.signLinkLog:hover {
    background-color: #444; /* slightly darker gray background on hover */
}