#loginLog {
    background-color: #cfcd43; /* light gray background */
    display: flex;
    flex-direction: column;
   
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.loginH {
    
    display: inline-block;
    vertical-align: middle;

}


   

#emailLog, #passwordLog {
    margin-bottom: 10px;
}

.emailLoglb, .passLoglb {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* make labels bold */
}

.emailLog, .passwordLog {
    width: 100%;
    max-width: 1000px; /* increased max-width */
    margin-left: auto; /* center the text input */
    margin-right: auto; /* center the text input */
    padding: 10px;
    border-radius: 20px; /* rounded corners */
    border: 3px solid #846149; /* light gray border */
    box-sizing: border-box; /* include padding and border in element's total width and height */
}
.subLogBtn {
    width: 100%;
    padding: 10px;
    background-color: #333; /* dark gray background */
    color: #fff; /* white color */
    border: none;
    border-radius: 5px; /* rounded corners */
    cursor: pointer;
    font-weight: bold; /* make button text bold */
}

.subLogBtn:hover {
    background-color: #444; /* slightly darker gray background on hover */
}

#signupButton {
    margin-top: 15px;
    text-align: center;
}

.signLinkLog {
   
    padding: 10px 90px;
    color: #000000; /* white color */
    font-weight: bold; /* make button text bold */
    transition: background-color 0.3s ease; /* transition for hover effect */
}

.signLinkLog:hover {
    background-color: #444; /* slightly darker gray background on hover */
    color: #fff; /* white color */
}

.imgMelanin {
     
    width: 300px; /* adjust as needed */
    height: 300px; /* adjust as needed */
    display: inline-block;
    vertical-align: middle;
}

#imageLog {
    display: inline-block;
    vertical-align: middle;
}